*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* <!-- nav-bar style section start --> */
.nav-bar{
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    border-bottom: 1px solid rgba(153, 152, 152, 0.858);
    background-color: #fff;
    position: sticky;
    top: 0;
}

.nav-bar h2{
    font-size: 30px;
    font-weight: 650;

}

.nav-content li{
    font-weight: 550;
}

.nav-content{
    display: flex;
    gap: 40px;
    list-style: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-icon {
    font-size: 18px;
    font-weight: 800;
}

.add-to-card{
    font-size: 30px;
}

/* nav-bar style section end  */


/* Hero Area style Start */

.hero-section{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-left{
    width: 50%;
}

.hero-left h2{
    font-size: 50px;
    font-weight:900px;
    margin-bottom: 28px;
}

.hero-left p{
    width: 85%;
    margin-bottom: 35px;
}

.hero-left button{
    color: white;
    background-color: #E02C6D;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.hero-right{
    width: 50%;
    background-image: url(/images/Circle\ design.svg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* hreo area style section End */


/* company partners style section */

.company{
    margin-top:80px;
    margin-bottom: 50px;
}
.company-logo{
    width: 90%;
    margin: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.5px solid lightgray;
    border-bottom: 1.5px solid lightgray;
}

.company-logo .logo{
  cursor: pointer;

}


/* Popular-Collection style section start */

.Popular-Collection{
  width: 90%;
  margin: auto;
}

.Popular-Collection h2{
    text-align: center;
    font-size:35px;
    margin: 70px 0;
    font-weight: 750;
}

  .collections-list1{
    display:flex;
    margin-top: 50px;
    gap: 23px;
  }

  .collections-list2{
    display:flex;
    margin-top: 35px;
    gap: 23px;
  }

  .collections-list3{
    display:flex;
    margin-top: 35px;
    gap: 23px;
  }

  .collections-box{
    padding:17px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 1px 1px 19px #ddd;
    cursor: pointer;
  }

  .img-box img{
    height: 279px;
  }

  .ratings{
    display: flex;
    gap: 10px;
  }

  .ratings img{
    height: 12px;
    margin-left: 1;
  }


  .collections-box h3{
    font-size: 28px;
    margin:18px 0;
  }

  .collections-box .price{
    font-size: 20px;
    color: rgb(65, 100, 30)

  }

  .collections-box p{
    width: 80%;
    margin: 5px 0;
  }

  .Popular-Collection h4{
    color: #E02C6D;
    font-weight: 790;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 7px;
    margin-top: 55px;
    cursor: pointer;

  }

  /* Popular-Collection section End */

  
  /* join now section style */

  .join-now{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 70px 0;
  }

  .join-now .join-left{
    width: 50%;
    padding-left: 20px;
  }
  .join-now .join-right{
    width: 70%;
    padding-left: 30px;
  }

  .join-right h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 28px;
  }

  .join-right p{
    width: 70%;
    font-weight: bold;
    margin-bottom: 28px;
    color: rgb(93, 93, 93);
  }

  .join-now .join-right button{
    color: white;
    background-color: #E02C6D;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;

  }


  /* footer style start */

  footer{
    background-color: #0A0826;
    color: white;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .footer-text{
    text-align: center;
    line-height: 20px;
  }

  .footer-text h3{
    font-size: 32px;
    font-weight: bold;
    color: #fffefee7;
    margin-bottom: 19px;
  }

  .footer-text p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.758)
  }

  .footer-icon{
    display: flex;
    justify-content: center;
    margin-top: 14px;
    gap: 20px;
  }

  .footer-icon i{
    cursor: pointer;
    font-size: 20px;
  }

  /* footer style end */